# 파이썬 연습 문제
[출처: 점프 투 파이썬](https://wikidocs.net/book/1)

### 1. 자료형
##### Q1. 평균 점수 구하기
| 과목 | 점수 |
| :---: | :---: |
| 국어 | 80 |
| 영어 | 75 |
| 수학 | 55 |

In [2]:
score = [80, 75, 55]

print(sum(score)/len(score))

70.0

##### Q2. 입력한 숫자가 홀수(혹은 짝수)인지 판별하는 코드 작성

In [3]:
user_input  = int(input())

if user_input%2==0: print("짝수입니다")
else: print("홀수입니다")

짝수입니다

##### Q3. 문자열 슬라이싱 사용하기
주민번호 881120-1068234에서, 연월일(YYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력하기

In [4]:
id = "881120-1068234"
ymd, postfix = id.split("-")
print(ymd, postfix)

881120 1068234

##### Q4. 주민등록번호에서 성별을 타나내는 숫자만 출력하기

In [7]:
int(id[7])

1

##### Q5. a:b:c:d -> a#b#c#d로 바꾸기

In [10]:
s = "a:b:c:d"
s = s.replace(":", "#")
s

'a#b#c#d'

##### Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 바꾸기 (역순 정렬)

In [12]:
l =  [1, 3, 5, 4,2]
l.sort(reverse=True)
l

[5, 4, 3, 2, 1]

##### Q7. ["Life", "is", "too", "short"] 리스트를 이용해 "Life it too short" 문장 만들기

In [24]:
s = ["Life", "is", "too", "short"]

" ".join(s)

'Life is too short'

##### Q8. (1, 2, 3) 튜플에 새로운 값 추가하기

In [35]:
t = (1, 2, 3)
t = list(t)
t.append(4)
t = tuple(t)

print(t)

(1, 2, 3, 4)

In [37]:
t = (1, 2, 3)
t += (4, )

t

(1, 2, 3, 4)

##### Q9. 딕셔너리에서 "B"에 해당하는 값 추출하기
```python
a = {"A":90, "B":80, "C":70}
```

In [39]:
a = {"A":90, "B":80, "C":70}

a["B"]

80

##### Q10. 리스트에서 중복 숫자를 제거하기
```python
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 5]
```

In [41]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 5]

list(set(a))

[1, 2, 3, 4, 5]

### 2. 제어문

##### Q1. 1부터 1000까지의 자연수 중 3의 배수의 합 구하기

In [47]:
# for 반복문 이용
sum = 0
for idx in range(0, 1001, 3):
    sum += idx

sum

166833

In [44]:
# while 반복문 이용
sum = 0
idx = 1
while idx<=1000:
    if idx%3==0:
        sum += idx
    idx += 1

sum

166833

##### Q2. 다음과 같이 별(*)을 표시하는 프로그램 작성하기
```
*
**
***
****
*****
```

In [49]:
for idx in range(5):
    print("*"*(idx+1))

*
**
***
****
*****

##### Q3. for 반복문을 이용해 평균 구하기
```python
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
```

In [50]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0

for s in score:
    sum += s

sum/len(score)

79.0

##### Q4. 다음 코드를 리스트 컴프리헨션으로 바꾸기
```python
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

In [56]:
numbers = [1, 2, 3, 4, 5]
result = [x*2 for x in numbers if x%2==1]
result

[2, 6, 10]

### 3. 함수
##### Q1. 주어진 자연수가 홀수인지 짝수인지 판별하는 함수 만들기

In [60]:
def is_even_odd(num):
    return "짝수" if num%2==0 else "홀수"

##### Q2. 입력으로 들어오는 모든 수의 평균 값을 계산해주는 함수 만들기

In [ ]:
def sum_input(l: list)->int:
    return sum(l)/len(l)

##### Q3. 파일의 내용을 수정하는 함수 작성하기 (java -> python)

In [61]:
# txt 파일로 저장하는 코드
s = "Life is too short\nyou need java"

with open("test.txt", "w") as f:
    f.write(s)

In [62]:
# 파일을 열고 내용 출력하기
with open("./test.txt", "r") as f:
    print(f.read())

Life is too short
you need java

In [69]:
def replace_str():
    temp = ""

    with open("./test.txt", "r") as f:
        temp = f.read()
    
    temp = temp.replace("java", "python")

    with open("./test.txt", "w") as f:
        f.write(temp)